.container {
  border: 5px solid #ffcc5c;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

/* 
.home {
  flex: 1;
}

.logout {
  flex: 1;
} */
/* .container > div {
  flex: 1;
}

.container > .about {
  flex: 3;
} */
