.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: column; */
}
/* flexbox has axis it is defaulted to row and can be switched to column */
@media screen and (max-width: 970px) {
  .container {
    flex-direction: column;
  }
}
