.container {
  border: 5px solid #ffcc5c;
  display: flex;
}

/* ! if we wanted the about and logout on the far right */

/* .about {
    margin-left: auto;
  } */

/* ! logout on the far right only */

.logout {
  margin-left: auto;
}
